.right {
    align-items: center;
    font-family: fantasy;
    font-size: larger;
    position: absolute;
    top: 180px;
    left: 100px;
}

.image {
    position: absolute;
    left: 350px;
    top: 200px;
}

.homepic {
    position: absolute;
    right: 150px;
    top: 170px;
}

.coder:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    1% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.about {
    position: absolute;
    top: 300px;
    right: 450px;
    font-family: fantasy;
    font-size: 22px;
}

.middle {
    position: absolute;
    font-family: fantasy;
    font-size: larger;
    right: 50%;
    top: 200px;
    transform: translateX(50%);
    text-align: center;
}

.container2 {
    position: absolute;
    top: 630px;
    background-color: grey;
    height: 680px;
    width: 100%;
}

.first {
    border-top: 8px dotted grey;
    width: 200px;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    position: absolute;
    align-items: center;
    font-family: fantasy;
    font-size: larger;
    position: absolute;
    top: 630px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .right {
        top: 120px;
          left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .homepic {
        right: 50%;
        transform: translateX(50%);
    }

    .about {
        top: 250px;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
    }

    .middle {
        right: 50%;
        top: 180px;
        transform: translateX(50%);
        text-align: center;
    }
}